{% extends 'master.html' %}
{% block content %}
{% include 'components/header.html' %}

<div class="py-12">
    <h1 class="font-bold text-3xl text-center my-10">Over Ons</h1>

    <div class="max-w-2xl mx-auto px-4 sm:px-6 lg:px-8">
        <p class="text-center text-gray-700 mb-6">
            Welkom bij Bobvance, uw vertrouwde partner in de wereld van hoogwaardige, duurzame producten die het dagelijkse leven verrijken en vergemakkelijken.
        </p>
        <p class="text-center text-gray-700 mb-6">
            Bobvance werd geboren uit een passie voor innovatie en een niet-aflatende toewijding aan kwaliteit. Ons assortiment omvat een zorgvuldig geselecteerde collectie van producten, variërend van de nieuwste technologische gadgets en huishoudelijke apparaten tot unieke en stijlvolle lifestyle-artikelen.
        </p>
        <p class="text-center text-gray-700 mb-6">
            Ons team is toegewijd aan het leveren van uitzonderlijke klantenservice en een plezierige winkelervaring, waarbij we voortdurend nieuwe en opwindende producten aan ons assortiment toevoegen om aan uw behoeften te voldoen.
        </p>
        <p class="text-center text-gray-700 mb-6">
            Bij Bobvance streven we naar duurzaamheid, kwaliteit en klanttevredenheid, terwijl we innovatieve oplossingen bieden die uw leven verbeteren en verrijken. Dank u dat u deel uitmaakt van onze reis naar een betere, duurzamere toekomst.
        </p>
    </div>
</div>

{% include 'components/footer.html' %}
{% endblock %}
