{% extends 'master.html' %}
{% block content%}
{% include 'components/header.html'%}
    <main class="my-8">
        <div class="container mx-auto px-6">
            <div class="h-64 rounded-md overflow-hidden bg-cover bg-center" style="background-image: url('https://images.unsplash.com/photo-1577655197620-704858b270ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1280&q=144')">
                <div class="bg-gray-900 bg-opacity-50 flex items-center h-full">
                    <div class="px-10 max-w-xl">
                        <h2 class="text-2xl text-white font-semibold">Koelkasten</h2>
                        <p class="mt-2 text-gray-400">Ontgrendel een wereld waarin uw boodschappen langer knapperig, gezond en heerlijk blijven. Onze koelkasten zorgen voor optimale versheid, innovatieve technologie en stijlvol design, en gaan naadloos op in uw keuken en leven. Ontdek het zelf en laat elke maaltijd een verse reis zijn.</p>
                        <button class="flex items-center mt-4 px-3 py-2 bg-blue-600 text-white text-sm uppercase font-medium rounded hover:bg-blue-500 focus:outline-none focus:bg-blue-500">
                            <span>Shop Nu</span>
                            <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="mt-16">
                <h3 class="text-gray-600 text-2xl font-medium">Koelkasten</h3>
                <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-6">
                    {% for product in products %}
                    <a href="{% url 'product_detail' product.pk%}">
                        <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden">
                            <div class="flex items-end justify-end h-56 w-full relative">
                                <div style="background-image: url('{{ product.image.url }}'); background-size: contain; background-repeat: no-repeat; background-position: center; height: 100%; width: 100%;" class="absolute"></div>
                            </div>
                            <div class="px-5 py-3">
                                <h3 class="text-gray-700 uppercase">{{ product.name }}</h3>
                                <span class="text-gray-500 mt-2">€{{ product.price }}</span>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% include 'components/footer.html' %}
{% endblock %}
